<html ng-app="phonecatApp">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">

    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script type="application/javascript" src="https://code.angularjs.org/1.3.13/angular-route.min.js"></script>
    <script type="application/javascript" src="https://code.angularjs.org/1.3.13/angular-resource.min.js"></script>

    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>


</head>
<body>

<!--<ul>-->
    <!--<li ng-repeat="phone in phones">-->
        <!--<span>{{phone.name}}</span>-->
        <!--<p>{{phone.snippet}}</p>-->
    <!--</li>-->
<!--</ul>-->
{{ "lower cap string" | uppercase }}
<input ng-model="userInput"> Uppercased: {{ userInput | uppercase }}
<hr/>
{{ {foo: "bar", baz: 23} | json }}
<hr/>

{{ 1304375948024 | date }}
<hr/>

{{ 1304375948024 | date:"MM/dd/yyyy @ h:mma" }}
<hr/>


<div ng-view></div>

</body>
</html>